@charset "utf-8";


body{
    margin: 0px;
    font-family: Helvetica Neue;
    background: linear-gradient(to bottom, #bfe5f6, rgb(228, 205, 236));


}
img {
    max-width: 100%;
    height: atuo;
}
iframe{
    max-width: 100%;
    max-height: atuo;
}
li{
    list-style: none;
}
a {
    text-decoration:none; 
}




     /*header*/
     .header{
        background-color: white;
        padding: 7px;
        box-shadow: 5px 5px 20px 1px rgb(195, 192, 192);
        text-align: center;

        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .header p{
     font-weight: bold;
     font-size: 17px;

    }

    /*caution*/
    .caution{
        background-color: rgba(252, 252, 252, 0.762);
        margin: 40px 20px 0px 20px;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.212);
        width: 600px;
    }

    
 
    .caution p{
        color: rgba(0, 0, 0, 0.968);
        font-size: 20px;
        font-weight: bold;
        
        
    }
    .under{
        background: linear-gradient(transparent 50%, #70c6f581 50%);
    }

    .caution ul{
        margin: 20px 0px 20px 0px;
        color: rgba(17, 16, 16, 0.968);
        font-size: 16px;
        line-height: 30px;
        background-color: rgba(0, 0, 0, 0.056);
        padding: 15px;
        border-radius: 20px;
    }

     /*in*/
     h1{
        padding: 30px 0px 0px 0px;
        text-align: center;
        font-size: 17px;
    }

    .in{
        background-color: rgba(255, 255, 255, 0.762);
        margin: 0px 12px 0px 20px;
        border-radius: 20px;
        padding: 18px;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.212);
       
    }
    .in p{
       padding: 10px 0px 0px 0px;
        font-weight: bold;    
    }
   .in p::first-letter{
    color: #29aff7e3;
   }
  .in input{
    width: 400px;
    height: 20px;
    font-size: 17px;
    margin: 6px 0px 0px 0px;
  }
  .in textarea{
    width: 400px;
    font-size: 17px;
  }
.done{
    background-color: white;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.212);
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    margin: 40px 0px 0px 40px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.radio{
    width: 400px;
    height: 400px;
    top: 0px;
    position: relative;
    margin: 10px;
}
 label{
    margin: 0px 0px 0px 20px;
 }   
/*sheet*/
.message{
    font-size: 17px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}
.card{
    background-color: rgba(255, 255, 255, 0.762);
        margin: 0px 20px 0px 20px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.212);
width: 600px;
   
    
}
.title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 12px 0px 50px 0px;
}
.text{
    background-color: rgba(254, 254, 254, 0.229);
        margin: 20px 0px 0px 10px;
        border-radius: 20px;
        padding: 16px;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.212);
        font-weight: bold;
        font-size: 15px;
        
}
.send{
    background-color: rgb(72, 173, 232);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.212);
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    color: white;
    margin: 100px 0px 0px 0px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    
}
.double{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.center1{
    text-align: center;
}

/*プロフィール*/
.card img{
    width: 60px;
}
.window{
    background-color: rgba(254, 254, 254, 0.229);
        margin: 20px 20px 0px 0px;
        border-radius: 20px;
        padding: 16px;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.212);
        display: flex;
}
.window p{
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px 0px 15px;
}

.UL1{
    display: flex;
}
.li1{
    width: 35px;
    margin: 20px 0px 0px 0px;
  
}
.li2{
    width: 37px;
    margin: 22px 0px 0px 40px;

}
.sendme{
    font-size: 19px;
    font-weight: bold;
    margin: 70px 20px 0px 20px;
}

.fotter{
    background-color: rgba(255, 255, 255, 0.307);
    padding: 57px;
    box-shadow: 5px 5px 20px 1px rgb(195, 192, 192);
    text-align: center;
    margin: 120px 0px 0px 0px;
    font-weight: bold;
    font-size: 18px;
}


/*サイズ2*/
@media all and (max-width:1400px){
    .radio{
        width: 100px;
        height: 40px;
        top: 0px;
        position: relative;
        margin: 100px;
    }
    label{
        margin: 0px 0px 0px 0px;
     }   
    .double{
        display: block;
    }

    .in input{
        width: 500px;
        height: 20px;
        font-size: 17px;
        margin: 6px 0px 0px 0px;
      }
      .in textarea{
        width: 500px;
        font-size: 17px;
      }
      .caution{
        width: auto;
      }
      .card{
        width: auto;
      }
}


/*スマホ*/
@media all and (max-width:600px){

    

    /*header*/
    .header{
        background-color: white;
        padding: 7px;
        box-shadow: 5px 5px 20px 1px rgb(195, 192, 192);
        text-align: center;

        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .header p{
     font-weight: bold;
     font-size: 13px;
    }

    /*caution*/
    .caution{
        background-color: rgba(252, 252, 252, 0.762);
        margin: 40px 20px 0px 20px;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.212);
    }
    .caution p{
        color: rgba(0, 0, 0, 0.968);
        font-size: 19px;
        
    }
    .under{
        background: linear-gradient(transparent 50%, #70c6f581 50%);
    }

    .caution ul{
        margin: 20px 0px 20px 0px;
        color: rgba(17, 16, 16, 0.968);
        font-size: 14px;
        line-height: 24px;
        background-color: rgba(0, 0, 0, 0.056);
        padding: 15px;
        border-radius: 20px;
    }
    /*in*/
    h1{
        padding: 30px 0px 0px 0px;
        text-align: center;
        font-size: 17px;
    }

    .in{
        background-color: rgba(255, 255, 255, 0.762);
        margin: 0px 20px 0px 20px;
        border-radius: 20px;
        padding: 18px;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.212);
       
    }
    .in p{
       padding: 16px 0px 0px 0px;
        font-weight: bold;
        
    }
   .in p::first-letter{
    color: #29aff7e3;
   }
  .in input{
    width: 300px;
    height: 20px;
    font-size: 17px;
  }
  .in textarea{
    width: 300px;
    font-size: 17px;
  }
.done{
    background-color: white;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.212);
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    margin: 70px 70px 0px 0px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    color: black;

}
.radio{
    width: 0px;
    height: 0px;
    top: 0px;
    position: relative;
    margin: 20px 0px 0px 80px;
}


/*sheet*/
.message{
    font-size: 8px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}
.card{
    background-color: rgba(255, 255, 255, 0.762);
        margin: 0px 20px 0px 20px;
        border-radius: 20px;
        padding: 18px;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.212);

   
    
}
.title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 12px 0px 50px 0px;
}
.text{
    background-color: rgba(254, 254, 254, 0.229);
        margin: 20px 10px 0px 10px;
        border-radius: 20px;
        padding: 16px;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.212);
        font-weight: bold;
        font-size: 13px;
        
}
.send{
    background-color: rgb(72, 173, 232);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.212);
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    color: white;
    margin: 100px 0px 0px 0px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    
}

/*プロフィール*/
.card img{
    width: 60px;
}
.window{
    background-color: rgba(254, 254, 254, 0.229);
        margin: 20px 10px 0px 10px;
        border-radius: 20px;
        padding: 16px;
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.212);
        display: flex;
}
.window p{
    font-weight: bold;
    font-size: 15px;
    margin: 24px 0px 0px 15px;
}

.UL1{
    display: flex;
}
.li1{
    width: 35px;
    margin: 20px 0px 0px 0px;
  
}
.li2{
    width: 37px;
    margin: 22px 0px 0px 40px;

}
.sendme{
    font-size: 13px;
    font-weight: bold;
    margin: 70px 20px 0px 20px;
}

.fotter{
    background-color: rgba(255, 255, 255, 0.307);
    padding: 17px;
    box-shadow: 5px 5px 20px 1px rgb(195, 192, 192);
    text-align: center;
    margin: 120px 0px 0px 0px;
    font-weight: bold;
    font-size: 12px;
}



}